!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : "Authy Getting Started"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    = javascript_include_tag "http://warm-fire-6905.herokuapp.com/form.authy.min.js"
    = stylesheet_link_tag "http://warm-fire-6905.herokuapp.com/form.authy.min.css"
    = csrf_meta_tag

    = yield(:head)
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .nav-collapse.collapse
            %ul.nav
              -if !current_user
                %li
                  %a(href="/sessions/new")
                    sign in
              -else
                %li
                  %a(href="/sessions/logout")
                    logout
    .container
      .content
        .page-header
        .row
          .span12
            = render :partial => 'shared/flashes'
            = yield
        %footer
          = render :partial => 'shared/footer'
