!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : "Authy Demo"

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "https://www.authy.com/form.authy.min.css"
    = javascript_include_tag "application"
    = javascript_include_tag "https://www.authy.com/form.authy.min.js"

    = csrf_meta_tag

    = yield(:head)
  %body
    = render :partial => 'shared/header_menu'
    .container.main-container
      .content
        .header
        .row
          = render :partial => 'shared/flashes'
          =yield
        %footer
          .row
            = render :partial => 'shared/footer'
